# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
.env.development
.env.test
.env.production
.env*.local

# uploads
/server/uploads/*
!/server/uploads/.gitkeep
uploads/

# Next.js
.next/
out/

# temp directory
.temp
.tmp
.claude

# Executables
*.exe
cloudflared.exe
